.datagrid-row {
  background: linear-gradient(#6bbf47, #3e863d 60%);
  padding: 2rem;
  margin-top: 2rem;
  clip-path: polygon(0 40px, 0 100%, 100% 100%, 100% 40px, 90% 0);
}

._datagrid {
  display: inline-block;
  text-align: center;

  .card {
    width: 250px;
    display: inline-block;
    min-height: 415px;
    text-align: left;
    vertical-align: top;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background: white;
    border: none;
    border-radius: 0;
    background: transparent;
    color: white;
    font-size: 0.9rem;
  }
  h3 {
    background: $yellow-light;
    color: black;
    font-family: monospace;
    text-transform: uppercase;
    position: absolute;
    transform: translate(0, 195px) rotate(29deg);
    width: 130px;
    transform-origin: bottom left;
    bottom: 100%;
    left: 13px;
  }

  p {
    margin-bottom: 5px;
  }

  a {
    color: white;
  }
  a:hover,
  a:active {
    color: white;
  }

  @media (max-width: 576px) {
    display: block;
    .card {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}
