body{
  padding-top:56px;
}

.video{
  width:100%;
  position:relative;
  padding-top:56.25%;
  iframe{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
  }
}
@media (max-width:1699px){
  body{
    background-attachment: fixed;
    background-position: center top;
    background-size:100%;
  }
  @media(max-width:1000px){
    body{
      background-size:auto 570px;
    }
  }
  .hero{
    min-height:500px;
    text-align:center;
    padding-top: 150px;
    color:white;
    text-shadow:0 0 20px black;
    h1{
      font-size:60px;
      font-weight:bold;
    }
    .subtitle{
      font-size:30px;
      font-weight:bold;
    }
    .sub-subtitle{
      font-size:30px;
      font-weight:bold;
    }
  }
}
@media (min-width:1700px){
  body{
    background-attachment: fixed;
    background-position: center top;
    background-size:100%;
  }
  .hero{
    min-height:700px;
    text-align:center;
    padding-top: 300px;
    color:white;
    text-shadow:0 0 90px black;
    h1{
      font-size:150px;
      font-weight:bold;
    }
    .subtitle{
      font-size:50px;
      font-weight:bold;
    }
  }
}

.hero{
  background-position:center;
  background-size:cover;
}

.cover{
  background:white;
}
.cover-translucent{
  background:rgba(255,255,255,.8);
}

.card-columns-4{
  @media (min-width:940px){
    columns: 4;
  }
}


.button-call-to-action{
  border-radius:15px;
  font-size:40px;
  border:3px solid white;
  padding:20px 40px;
}

footer.bg-dark{
  color:white;

  a,
  a:hover,
  a:focus{
    color:white;
  }
}
