<%- partial('_partial/hero', {page}) %>
<div class="cover pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 main-content">
        <%- partial('_partial/page', {post: page}) %>
      </div>
    </div>
  </div>
</div>
